.Games {
  display: flex;
}

.Games > .leftSide {
  width: 18%;
  padding: 20px;
  background: #f6f6f6;
  height: calc(100vh - 160px);
}

.Games > .leftSide > button {
  float: right;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.Games > .leftSide > a {
  display: block;
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.Games > .leftSide > .active {
  text-decoration: underline;
  font-size: 22px;
}

.Games > .rightSide {
  width: 80%;
  padding: 20px;
}
